header {
    font-family: Helvetica, Arial;
    font-size: x-large;
    margin-bottom: 20px;
    float: left;
}

footer {
    margin-top: 20px;
    font-style: italic;
    float: left;

}

nav {
    margin-bottom: 20px;
    clear:both;
}


#auth {
    margin-bottom: 20px;
    float: left;
    margin-left: 100px;
}

a {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: green;
}

#title {
    font-style: italic;
    font-size: large;
}

.breaker {
    clear:both;
}

.trade {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}